/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  background: #693015;
background: -o-linear-gradient(315deg, #693015 0%, #1E150D 50%, #693015 100%);
background: linear-gradient(135deg, #693015 0%, #1E150D 50%, #693015 100%);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  display: inline-block;
  color: #c4b3a2;
  font-size: 2rem;
  margin: 5px 10px;
  border: 1px solid #c4b3a2;
  padding: 5px 40px;
  cursor: pointer;
 margin-top: 20px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  color: #c4b3a2;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #ab2119;
  border-bottom: 2px solid #ab2119;
}
.social {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social img {
  width: 40px;
  height: 40px;
}

/* Main Part */
.main-img {
width: 98%;
height: 85%;
background-image: url('./img/wooden-basketball-court.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-blend-mode: color-burn;
background-color: #7f5c3575;
background-blend-mode: color-burn;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.title-circle {
width: 120px;
height: 120px;
border-radius: 50%;
border-bottom: 5px solid #c4b3a2;
color: #c4b3a2;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
-webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
margin-top: -25px;

}
.title-circle span {
font-size: 2rem;
border: 1px solid #c4b3a2;
border-radius: 50%;
padding: 15%;
background-color: #1f150c;
}
.title {
height: 20%;
width: 45%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
background-color: #1f150cd9;
border: 1px solid #c4b3a2;
color: #c4b3a2;
font-size: 1.2rem;
margin-top: 20px;
}

/*  burger  */
.burger {
  display: none;
  margin-right: 20px;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #c4b3a2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3px;
    margin-left: 9%;
  }
  .social img {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    width: 50%;
    background-color: #391f11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translatex(100%);
        -ms-transform: translatex(100%);
            transform: translatex(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    margin: 30px;
  }
  .nav-links li a {
    color: #eee;
  }
  .burger {
    display: block;
  }
  .nav-active {
    -webkit-transform: translatex(0%);
        -ms-transform: translatex(0%);
            transform: translatex(0%);
  }
  .title {
    width: 95%;
    font-size: 0.9rem;
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px,6px);
      -ms-transform: rotate(-45deg) translate(-5px,6px);
          transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  -webkit-transform: rotate(45deg)translate(-5px,-6px);
      -ms-transform: rotate(45deg)translate(-5px,-6px);
          transform: rotate(45deg)translate(-5px,-6px);
}